<mat-card *ngIf="movie">
  <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Poster">
  <mat-card-title>{{ movie.title }}</mat-card-title>
  <p><strong>Director:</strong> {{ movie.director }}</p>
  <p><strong>Cast:</strong> {{ getCastNames() }}</p>
  <p>{{ movie.overview }}</p>
  <p><strong>Genres:</strong> {{ getGenreNames() }}</p>
  <div *ngIf="streamingProviders.length">
    <h3>Where to Watch:</h3>
    <mat-chip-listbox>
      <mat-chip *ngFor="let provider of streamingProviders">{{ provider.provider_name }}</mat-chip>
    </mat-chip-listbox>
  </div>
  <button mat-icon-button (click)="addReview('thumbs_up', '')"><mat-icon>thumb_up</mat-icon></button>
  <button mat-icon-button (click)="addReview('thumbs_down', '')"><mat-icon>thumb_down</mat-icon></button>
  <!-- Add review form here -->
</mat-card>
